body {
    font-family: Arial, sans-serif;
}

input[type="text"] {
    width: 200px;
    height: 30px;
    font-size: 20px;
}

button {
    width: 50px;
    height: 30px;
    font-size: 20px;
}

#result {
    font-size: 24px;
    margin-top: 20px;
}